<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: azure; text-shadow: 2px 2px 3px black; font-size: 3vw; font-family: 'Bangers', cursive;"> <span style="color: rgb(251, 38, 0);">The </span>  Hub</a>
    <h1 style="color: aliceblue; font-family: 'Bangers', cursive; text-shadow: 2px 2px 3px black; font-size: 3vw;">Eudes <span style="color: rgb(251, 38, 0);"> Carbon</span></h1>
  </div>
</nav>



<div class="container">
  <div class="text-center" style="color: rgb(251, 38, 0); text-shadow: 2px 3px 3px red;">
    <h1 style="font-size: 7vw; font-family: 'Bangers', cursive;">Welcome to the Hub </h1>
    <p style="font-size: 2vw; color: aliceblue; font-family: 'Tangerine', cursive;">By Carbon</p>
  </div>

</div>











<router-outlet></router-outlet>