<div>
  <div class="row">
      <div class="card col-md-6" style="width: 18rem;">
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item car-1">Name : <span class="car">Carbon</span></li>
          <li class="list-group-item car-1">Repos : <span class="car">3</span></li>
          <li class="list-group-item car-1">followers : <span class="car">3</span></li>
          <li class="list-group-item car-1">following : <span class="car">3</span></li>
        </ul>
      </div>
      <div class="col-md-6">
        <img
        src=""
        class="img-fluid rounded"
        alt=""/>
      </div>
  </div>
<div>
  <!-- src="{{profile.avatar_url}}" -->